{% extends 'layout.html.twig' %}

{% block content %}

<div class="logo-container" id="logo-contact">
    <a href="/"><img class="logo" style="width: 100px" src="assets/images/logo.png"></a>
</div>

    <form class="formContainer card glass"
        action="https://formspree.io/f/xyylvdrk"
        method="POST">
    <div>

        

        <label class="labelForm" for="formName">Nom complet</label>
        <input class="inputForm" id="formName" type="text" name="name" placeholder="Dupont Michel">
    </div>
    <div>
        <label for="formMail" class="labelForm">Email:</label>
        <input class="inputForm" type="email" id="formMail" name="_replyto" placeholder="MonEmail@wild.com">
    </div>
    <div>
        <label for="formTextarea" class="labelForm"> Votre Message:</label>
        <textarea name="message" id="formTextarea" rows="4" cols="21" placeholder="Bonjour, je vous contacte pour..."></textarea>
    </div>
        <button class="formContainer" id="submitz" type="submit">Envoyer</button>
    </form>

{% endblock %}