{% extends 'layout.html.twig' %}

{% block content %}
<div class="search-form">
    <form method="POST">
    <input type="text" placeholder="Instruments.." name="instrument">
    <input type="text" placeholder="Ville.." name="address">
    <button type="submit">Rechercher</button>
    </form>
</div>
 {% endblock %}
