{% extends 'layout.html.twig' %}

{% block content %}
        <div class="logo-container">
            <img class="logo" style="width: 100px" src="assets/images/logo.png">
        </div>
    <div class="glass search all-card-container">
        {% for user in users %}
        <a href="/profile?id={{user.id}}">
        <div class="card glass search-card">
            <div class="brand-logo">
            </div>
            <img class="card-image" src="{{user.photo}}">
            <div class="card-content">
            <p>{{ user.name }}</p>
            <p>{{user.prices }}</p>
            </div>
        </div>
        </a>
        {% endfor %}
    </div>
    
  
 {% endblock %}
