{% extends 'layout.html.twig' %}

{% block content %}
{% for user in users %}
   <p> {{user.instrument_name}} </p>
   <p> {{user.name}} </p>
   <p> {{user.prices}} </p>
   <p> {{user.address}} </p>
{% endfor %}
 {% endblock %}
